<!-- list attributes -->
{% extends "layout.html" %}

{% block content %}


<div class="body-content">
    <div class="row">
      <h1>List of entries for {{table}}</h1>
      <br>
    </div>

<table>
{% for d in data: %}
    {% set var = "table={0}&name={1}&headword={2}".format(table, d.name, headword.headword) %}
    {% set link_edit = "/headwords/attributes/edit?{0}".format(var) %}
    {% set link_delete = "/headwords/attributes/delete?%s" % var %}
    <tr>
    {% if d.name != "[none]": %}
      <td style="padding-right:2em">
        {{d.name}}
      </td>

      {% if table == "Flag" or table == "Register" %}

        {% if table == "Flag" %}
          {% set list = headword.flags %}
          {% set item = Flag.query.filter_by(name=d.name).first() %}

        {% elif table == "Register" %}
          {% set list = headword.registers %}
          {% set item = Register.query.filter_by(name=d.name).first() %}
           
        {% endif %}

        {% if (item in list) %}
          <td style="padding-right:2em">
            <a href="/headwords/{{'%ss' % table.lower()}}/delete?{{table.lower()}}={{item.name}}&headword={{headword.headword}}" 
              data-confirm="This will delete {{item.name}} from the headword {{headword.headword}}.">
                delete from headword {{headword.headword}}
            </a>
          </td>
        {% else %}
          <td style="padding-right:2em"></td>
        {% endif %}
      {% endif %}

      <td style="padding-right:2em">
        {{ "archived" if d.archived else "in use" }}
      </td><td style="padding-right:2em">
        <a href="{{link_edit}}">edit</a>
      </td><td style="padding-right:2em">
        <a href="{{link_delete}}" 
           data-confirm="This will delete {{d.name}} from the list of attributes for {{table}}.">delete</a>
      </td>

    {% endif %}
    </tr>
{% endfor %}
</table>

    <h3>Add a new entry</h3>

    <!-- add a new entry -->
    <form id="insertForm" 
          method="POST" 
          class="" 
 action="/headwords/attributes/create?table={{table}}&headword={{headword.headword}}">
        {{ form.hidden_tag() }}
        <div class="form-group">

            <div class="form-group">
                {{ form.name.label }}
                {{ form.name (placeholder="name", class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.notes.label }}
                {{ form.notes (placeholder="notes", class_="form-control") }}
            </div>
        </div>
        <button class="btn btn-primary" type="submit" >create</button>
    </form>

</div>
<br>

{% if table == "Source" %}
  <a href="/headwords/citations/new?headword={{headword.headword}}">
    back to new citation for {{headword}}
  </a>
{% else %}
  <a href="/headwords/edit?headword={{headword.headword}}">
    back to editing headword {{headword.headword}}
  </a>
{% endif %}

{% endblock %}

