
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>Insert</h1>
      <br>
    </div>




    <form id="insertForm" method="POST" class="" action="db" role="insert">
      {{ form.hidden_tag() }}
      <div class="form-group">

        {{ form.author(placeholder="Author", class_="form-control") }}
        {{ form.source(placeholder="Source", class_="form-control") }}
        {{ form.date  (placeholder="Date",   class_="form-control") }}

      </div>
      <button type="submit" class="btn btn-default">Insert</button>
    </form>



</div>
{% endblock %}

