
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>Insert</h1>
      <br>
    </div>




    <form id="insertForm" method="POST" class="" action="insert" role="insert">
        {{ form.hidden_tag() }}
        <div class="form-group">

            <div class="form-group">
                {{form.headword.label}}
                {{ form.headword (placeholder="Headword", class_="form-control") }}
            </div>
            <div class="form-group">
                {{form.definition.label}}
                {{ form.definition (placeholder="Definition", class_="form-control") }}
            </div>
            <div class="form-group">
                {{form.see.label}}
                {{ form.see (placeholder="See", class_="form-control") }}
            </div>
            <div class="form-group">
                {{form.pronunciation.label}}
                {{ form.pronunciation (placeholder="Pronunciation", class_="form-control") }}
            </div>
            <div class="form-group">
                {{form.notes.label}}
                {{ form.notes (placeholder="Notes", class_="form-control") }}
            </div>
            <div class="form-group">
                {{form.archived.label}}
                {{ form.archived (placeholder="Archived - checkbox", class_="form-control") }}
            </div>
            <div class="form-group">
                {{form.data_set_id.label}}
                {{ form.data_set_id (placeholder="Data set select box", class_="form-control") }}
            </div>
                  <!-- headword, 
                       definition, 
                       see, 
                       pronunciation, 
                       notes, 
                       archived, 
                       data_set_id, 

                       homonym_number_id, 
                       word_class_id, 
                       sense_number_id, 
                       origin_id, 
                       register_id, 
                       domain_id, 
                       region_id, 
                       headword_citation, 
                       headword_flag, 
                       updated_by         -->
            <div class="form-group">
                {{form.word_class.label}}
                <a href="/users/table_list?table=Word class">edit</a>
                {{ form.word_class (placeholder="Word class", class_="form-control") }}
            </div>

        </div>
        <button class="btn btn-default" type="submit" >Insert</button>
    </form>



</div>
{% endblock %}

