{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>Insert</h1>
    </div>

    <form id="insertForm" method="POST" class="" action="insert" role="insert">
        {{ form.hidden_tag() }}
        <div class="form-group">
            

            <!-- create multiple text entry fields -->
            {% for element in ['Headword', 'Definition', 'See', 
                               'Pronunciation', 'Notes'] %}
              <!-- snake case version of element name -->
              {% set snake = element.lower().replace(' ', '_') %}

              <div class="form-group">
                <!-- sets the select box label -->
                {{ form.getattr(snake).label }}
                <!-- creates the text entry field -->
                {{ form.getattr(snake)
                               (placeholder=element, class_="form-control") }}
              </div>
            {% endfor %}


            <!-- create multiple select entries-->
            {% for element in ['Word class', 'Data set', 'Sense number',
                               'Homonym_number', 'Origin', 'Register', 
                               'Domain', 'Region', 'Flag'] %} 
              <!-- snake case version of element name -->
              {% set snake = element.lower().replace(' ', '_') %}

              <div class="form-group">
                <!-- sets the select box label -->
                {{ form.getattr(snake).label }}
                <!-- provides a link to manage this elements options -->
                <a href="/users/table_list?table={{element}}">edit</a>
                <!-- creates the select element with all its options -->
                {{ form.getattr(snake)
                               (placeholder=element, class_="form-control") }}
              </div>

            {% endfor %}

        </div>
        <button class="btn btn-default" type="submit" >Insert</button>
    </form>

</div>
{% endblock %}

