
{% extends "layout.html" %}
{% block content %}
  <!-- template suggested session.username, but not working. Changed to current_user.username-->
  <h1>Welcome {{ current_user.username }}</h1>

  <h3>This is the members-only page.</h3>

  <p>
Please provide the following details to describe your interest in the Dictionary of New Zealand English.
  </p>
  <p>

<b>TODO - add form to allow changing details and password;<br>
</b>
- your name {{ current_user.username }}<br>

- email {{ current_user.email }}<br>

- institution {{ current_user.institution }}<br>
- country {{ current_user.country }}<br>
- interest {{ current_user.interest }}<br>
- password {{ current_user.password }}<br>
- created {{ current_user.created_at }}<br>
- update {{ current_user.updated_at }}<br>

</p>

{% endblock %}

