
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>The New Zealand Dictionary Centre database</h1>
  <br>
  <p>

The New Zealand Dictionary Centre database of New Zealand English was originally based on the collected list words of the late Dr Harry Orsman, whose comprehensive <i>Oxford Dictionary of New Zealand English</i> was published in 1997. The database is unique in that it contains not only headwords, definitions, parts of speech, and other information, but also historical citations, which are examples of the words’ use in print. Of special interest are the earliest and most recent examples of a word’s use, which essentially provides its biography. All of the headwords in the database are either unique to New Zealand, have been first recorded in New Zealand, are of historical significance within New Zealand or have a new specific meaning to that used elsewhere. 

  </p><p>

Since 1997, and following the lifelong work of Dr Orsman, the New Zealand Dictionary Centre has operated within the School of Linguistics and Applied Language Studies at Victoria University as a joint enterprise of Oxford University Press and Victoria University. Professor Graeme Kennedy was the first Director of the Centre and in his time a second major dictionary, <i>The New Zealand Oxford Dictionary</i>, was compiled at the Centre, with Professor Tony Deverson of the University of Canterbury, and Dr Dianne Bardsley, who became the Centre’s second Director. In 2005, Dr John Macalister’s <i>Dictionary of Maori Words</i> in New Zealand English was published. Many <a href="publications">publications</a> have been compiled at the Dictionary Centre, some using entries from the New Zealand English database and others contributing to it. 

  </p>













</div>
{% endblock %}

