
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to the Dictionary of New Zealand English</h1>
  <br>
  <p>
For over 60 years, Victoria University of Wellington has been the major centre for lexicography in New Zealand. A number of distinguished lexicographers, many of them former students of Professor Ian Gordon, have been graduates of Victoria and have contributed to works of English lexicography, including the supplements to The Oxford English Dictionary and The Australian National Dictionary. In particular, the New Zealand Dictionary Centre builds on the pioneering scholarship of Dr Harry Orsman, whose research on New Zealand English has spanned more than forty years and culminated in 1997 in the publication of his award-winning Dictionary of New Zealand English, the most comprehensive and fully documented dictionary of New Zealandisms on historical principles. Read more about <a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/about-us/new-zealand-lexicography">New Zealand Lexicography</a>.
  </p><p>
The New Zealand Dictionary Centre is based in Wellington, where there are valuable sources for lexicographical research in the National Library, the Alexander Turnbull Library, and the National Archives.
  </p><p>
The New Zealand Dictionary Centre was established at a time of significant advances in the technology to support lexicography. Victoria University is widely known for its work in the compilation and analysis of large electronic databases for the study of English. The Centre makes use of these large collections of spoken and written New Zealand English in electronic corpora to further its research aims.
  </p><p>
The New Zealand Dictionary Centre has an extensive reference library and direct access to citations for words which are being processed but which have not yet been published in the Oxford English Dictionary. The Centre is in contact with Oxford and the Australian National Dictionary Centre and can rapidly check or verify the origin and use of particular words. Read about recent changes to <a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/about-us/new-zealand-english-in-the-21st-century">New Zealand English in the 21st century</a>.
  </p><p>
The Centre holds an extensive database of subjects for school research projects in New Zealand English. These are currently available by contacting <a href="mailto:dianne.bardsley@vuw.ac.nz">dianne.bardsley@vuw.ac.nz</a> and will shortly be available on the Centre's webpages.
  </p><p>
<a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre" class="btn btn-primary btn-large">Learn more &raquo;</a>
  </p>

</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">

    <div class="col-lg-4">
      <h2><i class="fa fa-institution"></i> Victoria University</h2>
      <p>Home of the New Zealand Dictionary Centre and the School of linguistics and Applied Language studies.</p>
      <p><a class="btn btn-primary" href="http://www.victoria.ac.nz/">Official website &raquo;</a></p>
    </div>

    <div class="col-lg-4">
      <h2><i class="fa fa-mortar-board"></i> School of Linguistics and Applied Language Studies</h2>
      <p>The School of Linguistics and Applied Language Studies is part of the <a href="http://www.victoria.ac.nz/fhss"><b>Faculty of Humanities and Social Sciences</b></a> and incorporates the <a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dsru">Deaf Studies Research Unit</a>, the <a href="http://www.victoria.ac.nz/lals/centres-and-institutes/eli">English Language Institute</a> and the <a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre">New Zealand Dictionary Centre</a>.</p>
      <p><a href="http://www.victoria.ac.nz/lals" class="btn btn-primary" href="#">Official website &raquo;</a></p>
    </div>

    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Oxford University Press</h2>
      <p>The New Zealand Dictionary Centre is a joint venture of Victoria University of Wellington and Oxford University Press, publishers of the Oxford English Dictionary.</p>
      <p><a href="http://www.oup.com.au/" class="btn btn-primary" href="#">Official website &raquo;</a></p>
    </div>

  </div><!-- /.row -->
</div>
{% endblock %}

