
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Dictionaries and Thesauruses</h1>
  <br>
  <div class="nzdc-text">
  <ul>
    <li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/primary-dict-2011">
New Zealand Oxford Primary School Dictionary 4th ed (2011)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/junior-2011">
New Zealand Oxford Junior Dictionary fourth edition (2011)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/primary-dict">
New Zealand Oxford Primary School Dictionary, Intermediate level, fourth edition (2009)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/integrated-school-thes08">
The New Zealand Integrated School Dictionary & Thesaurus (2008)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/paperback-dict06">
The New Zealand Oxford Paperback Dictionary, second edition (2006)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/mini-dict06">
The New Zealand Oxford Minidictionary, second edition (2006)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/school-dict06">
The New Zealand Oxford School Dictionary, fourth edition (2006)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/pocket-dict05">
The New Zealand Pocket Oxford Dictionary, third edition (2005)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/mini-thesaurus-dict1">
The New Zealand Mini Thesaurus (2005)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/school-thes05">
The New Zealand Oxford School Thesaurus (2005)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/maori-dict05">
A Dictionary of Maori Words in New Zealand English (2005)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/nz-oxford-dict04">
The New Zealand Oxford Dictionary (2004)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/junior">
The New Zealand Oxford Junior Dictionary, third edition (2003)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/little-dict03">
The New Zealand Little Oxford Dictionary (2003)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/political-quot-00">
A Dictionary of New Zealand Political Quotations (2000)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/nz-slang-99">
A Dictionary of Modern New Zealand Slang (1999)
    </a></li><li><a href="http://www.victoria.ac.nz/lals/centres-and-institutes/dictionary-centre/dictionaries-and-other-publications/nzedict1">
The Dictionary of New Zealand English (1997)
    </a></li>
  </ul></p>


  <h1>Linked Publications</h1>
  <ul>
    <li>
<i>A Dictionary of New Zealand Sign Language.</i> Auckland University Press/Bridget Williams Books (1997)
    </li><li>
<i>A Concise Dictionary of New Zealand Sign Language.</i> Bridget Williams Books (2001)
    </li>
  </ul>

  <h1>Books</h1>
  <ul>
    </li><li>
Bardsley, Dianne 2013 <i>The Book of New Zealand Words.</i> Wellington: Te Papa Press
    </li><li>
Bauer, Laurie, Dianne Bardsley, Janet Holmes & Paul Warren 2011 <i>Q and Eh: Questions and Answers on Language with a Kiwi Twist.</i> Auckland: Random House.
    </li><li>
Bardsley, Dianne 2009. <i>In the Paddock and On the Run: The Language of Rural New Zealand.</i> Dunedin: University of Otago Press.
    </li>
  </ul>

  </div>














</div>
{% endblock %}

